body {
  background-color: #17062a;
  color: #ffed3d;
  transition: ease 1s;
}

.buttons {
  color: #ffed3d;
  background-color: #1e0836;
  box-shadow: #b3a59a 0px 3px 0px 0px;
}

.buttons button {
  background-color: #331b4d;
  color: #ffed3d;
  box-shadow: #8920a0 0px 3px 0px 0px;
}

.buttons button:active {
  background-color: #6b34ac;
}

.resultScreen {
  background-color: #1e0836;
  color: #ffed3d;
}

.buttons {
  background-color: #1e0836 !important;
}

.resetEquals {
  background-color: #1e0836 !important;
}
.resetEquals button {
  color: #fffffd;
}

.reset {
  background-color: #56077c !important;
  box-shadow: 0px 3px #c114f7 !important;
}

.reset:active {
  background-color: #8631b0 !important;
}

.equals {
  background-color: #00decf;
  color: #032327 !important;
  box-shadow: 0px 3px #83f6f6 !important;
}

.equals:active {
  background-color: #94fff9;
}

.del {
  background-color: #56077c !important;
  color: #fffffd !important;
  box-shadow: 0px 3px #bd1df1 !important;
}

.del:active {
  background-color: #8631b0 !important;
}

.themeButtons button {
  background-color: #17062a;
  color: #ffed3d;
}

.themeButtons2 button {
  background-color: #252d44;
}

.dot {
  background-color: #08dad3;
  left: 43px;
}

.dot:active {
  background-color: #95fcf8;
}

.slide {
  background-color: #252d44;
}

p {
  color: #ffed3d;
}
