body {
  background-color: #3b4664;
  transition: ease 1s;
}

.buttons button {
  background-color: #eae3db;
  color: #252d44;
  box-shadow: #b3a59a 0px 3px 0px 0px;
}

.buttons button:active {
  background-color: white;
}

.resultScreen {
  background-color: #181f32;
  color: #fffffd;
}

.buttons {
  background-color: #252d44;
}

.resetEquals {
  background-color: #252d44;
}

.resetEquals button {
  color: #fffffd;
}

.del {
  background-color: #637398 !important;
  color: #fffffd !important;
  box-shadow: 0px 3px #414e72 !important;
}

.del:active {
  background-color: #a2b3e1 !important;
}

p {
  color: #fffffd;
}

.slide {
  background-color: #252d44;
}

.dot {
  background-color: #cd422b;
}

.dot:active {
  background-color: #f66e57 !important;
}

.themeButtons button {
  background-color: #3b4664;
  color: black;
}

.themeButtons2 button {
  background-color: #252d44;
}

.reset {
  background-color: #647298 !important;
  box-shadow: 0px 3px #414e72 !important;
}

.reset:active {
  background-color: #a2b3e1 !important;
}

.equals {
  background-color: #d13f30 !important;
  box-shadow: 0px 3px #93251a !important;
}

.equals:active {
  background-color: #f96c5b !important;
}
