body {
  background-color: #e6e6e6;
  transition: ease 1s;
}

.buttons {
  background-color: #d3cdcd;
}

.buttons button {
  background-color: #e5e4e0;
  color: #33332b;
  box-shadow: #a39a8c 0px 3px 0px 0px;
}

.buttons button:active {
  background-color: white;
}

.resultScreen {
  background-color: #eeeeee;
}

.resetEquals {
  background-color: #d3cdcd;
}
.resetEquals button {
  color: #fffffd;
}

.reset {
  background-color: #388187 !important;
  box-shadow: 0px 3px #1e565f !important;
}

.reset:active {
  background-color: #62b5bd !important;
}

.equals {
  background-color: #c85401 !important;
  box-shadow: 0px 3px #873800 !important;
}

.equals:active {
  background-color: #ff8b38 !important;
}

.del {
  background-color: #388187 !important;
  color: #fffffd !important;
  box-shadow: 0px 3px #1c6167 !important;
}

.del:active {
  background-color: #62b5bd !important;
}

p {
  color: #33332b;
}
.slide {
  background-color: #d3cdcd;
}

.dot {
  background-color: #c85400;
  left: 24px;
}

.dot:active {
  background-color: #fe8a40 !important;
}

.themeButtons button {
  background-color: #e6e6e6;
}

.themeButtons2 button {
  background-color: #d3cdcd;
}
